{% extends 'base.html' %}

{% block content %}

  <main class="px-3">
    <h1>방송을 시청해보세요</h1>
    <p class="lead">행인의 얼굴을 필터링하여 초상권 침해 없는 방송을 제공합니다</p>
    <p class="lead">
    {% if user.is_admin %}
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-blue">방송 시청</a>
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-black">얼굴 등록</a>
    {% else %}
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-blue">방송 시청</a>
    {% endif %}
    </p>
  </main>

{% endblock %}